/*
***************** HELPER CLASSES *****************
Description:
Global helper classes to be stacked
--------------------------------------------------
*/
.clearfix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.hide-svg {
  height: 0;
  width: 0;
}
