/*
  ******************* Day ******************
  Description:
  Styling for the days of the month, including details on certain holidays
  --------------------------------------------------
*/
.day {
  border: 1px solid $teak;
  position: relative;
  margin-bottom: 8px;
  color: $teak;
  grid-row: span 1;
  grid-column: span 1;
  padding: 8px;
  @include breakpoint('m') {
    margin: 4px;
  }
  @include breakpoint('xl') {
    padding: 8px;
  }
  &:nth-child(n+1):nth-child(-n+5) {
    @include breakpoint('m') {
      grid-row-start: 1;
    }
    @include breakpoint('xl') {
      grid-row: auto;
    }
  }
  &:nth-child(n+6):nth-child(-n+10) {
    @include breakpoint('m') {
      grid-row-start: 2;
    }
    @include breakpoint('xl') {
      grid-row: auto;
    }
  }
  &:nth-child(n+11):nth-child(-n+15) {
    @include breakpoint('m') {
      grid-row-start: 4;
    }
    @include breakpoint('xl') {
      grid-row: auto;
    }
  }
  &:nth-child(n+16):nth-child(-n+20){
    @include breakpoint('m') {
      grid-row-start: 5;
    }
    @include breakpoint('xl') {
      grid-row: auto;
    }
  }
  &:nth-child(n+21):nth-child(-n+25) {
    @include breakpoint('m') {
      grid-row-start: 7;
    }
    @include breakpoint('xl') {
      margin-bottom: 8px;
      grid-row: auto;
    }
  }
  &:nth-child(n+26):nth-child(-n+30){
    @include breakpoint('m') {
      margin-bottom: 0;
      grid-row-start: 8;
    }
    @include breakpoint('xl') {
      margin-bottom: 8px;
      grid-row: auto;
    }
  }

  &:nth-child(n+1):nth-child(-n+5),
  &:nth-child(n+10):nth-child(-n+15),
  &:nth-child(n+20):nth-child(-n+25) {
    details {
      &[open] {
        div {
          @include breakpoint('m') {
            left: 0;
          }
        }
      }
    }
  }
  &:nth-child(n+6):nth-child(-n+10),
  &:nth-child(n+16):nth-child(-n+20),
  &:nth-child(n+26):nth-child(-n+30) {
    details {
      &[open] {
        div {
          @include breakpoint('m') {
            left: -520px;
          }
        }
      }
    }
  }
  h2 {
    font-size: 18px;
  }
}

/*
  ******************* Special Day ******************
  Description:
  Styling for the special days that don't fall inside months
  --------------------------------------------------
*/
.special-day {
  padding: 24px;
  border-top: 1px solid $teak;
  border-bottom: 1px solid $teak;
  position: relative;
  margin-bottom: 32px;
  h3 {
    color: $teak;
    font-family: $basefont;
    font-size: 32px;
    line-height: 40px;
    &::first-letter {
      font-family: $headingfont;
      font-size: 36px;
      vertical-align: baseline;
      text-transform: uppercase;
    }
    span {
      font-family: $basefont;
      font-size: 16px;
      font-style: italic;
      display: inline-block;
    }
  }
}
